<mat-drawer-container>
  <mat-drawer mode="side" position="end" [opened]="drawer.get()">
    <div class="mat-drawer-container">
      <h1>Filters</h1>
      <p>Methods to help you filter your artistically-drinking habits.</p>
      <mat-divider></mat-divider>
      <h2>Glasses</h2>
      <p>Nada!</p>
      <mat-divider></mat-divider>
      <h2>Preparation Methods</h2>
      <p>Nada!</p>
      <mat-divider></mat-divider>
      <h2>Ingredients</h2>
      <p>Nada!</p>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <span>Cocktail List</span>
      <span class="global-spacer"></span>
      <!-- Let's see if there's anything else! -->
    </mat-toolbar>
    <div class="mat-drawer-content-container">
      <app-welcome-card></app-welcome-card>
      <mat-grid-list cols="4" rowHeight="672px" gutterSize="8px">
        <mat-grid-tile *ngFor="let cocktail of sampleCocktails">
          <app-cocktail-card></app-cocktail-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
