mat-drawer {
  padding: 16px;
  width: 16%;
}

mat-drawer-container {
  height: 100% !important;
}

.mat-drawer-container > mat-divider {
  padding-bottom: 8px;
}

.mat-drawer-content-container {
  padding: 16px;
}
