/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
code {
  color: #e01a76;
}

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.root-container {
  padding-top: 64px;
  height: 74%;
}
