<mat-card *ngIf="welcomeCardShown">
  <mat-card-title>Welcome to Drinktionary!</mat-card-title>
  <mat-card-subtitle>Let's start with a bit of history & info about the term “mixology”!</mat-card-subtitle>
  <mat-card-content>
    <p>It can seem sometimes like the profession of drinks slinging has divided itself into two camps: through one door, you’ll find old school bartenders in casual dress slinging $5 well drinks for Happy Hour, and through another door, you’ll find mustachioed men and carefully coiffed women preparing a $12 concoction for your reverent sipping pleasure.</p>
    <p>
      The latter group are often referred to as “mixologists”, a term given to practitioners of “mixology”, which is really just another way of referring to the practice of making good cocktails.
      Mixology might seem like a newfangled term, but it’s actually pretty old, like mid-19th century old, and was only revived as a way to describe the recent renaissance of bartenders caring (a lot) about their craft.
    </p>
    <p>
      See, the Mad Men era may have seen people stirring up pitchers of Martinis and ordering perfect Manhattans, but the decades that followed (see the history of the shot) were a bit of a cocktail dark ages.
      But thanks to a small contingent of enthusiastic bartenders, and to timeless resources like “Professor” Jerry Thomas’s Bartender’s Guide, the art of the cocktail was not lost. Instead, slowly but surely, this group of dedicated bartenders brought serious attention, and the term “mixology,” back to their craft.
    </p>
    <p>
      Not that it was a sudden period of cocktail invention; it was more like a triage situation, with much-abused classic cocktails being repaired and restored to their rightful dignity (chucking things like sour mix and pre-fab cocktail bottles) and only then building on the backbones of the classic recipes with new drink types.
      Yes, some historical affectations followed with all the cocktail history, including handlebar mustaches and suspenders and stuff, but most of that was either temporary or part of the aesthetic of the bar.
    </p>
    <p>
      So why does it matter?
      This surge in creativity and care didn’t just impact bar menus.
      It created a demand for better product, first behind the bar and then from consumers themselves.
      As bartenders—or “mixologists”—continued exploring new, or simply better, flavor profiles, new (or simply better) spirits and products were created to meet that demand, which is why “mixology” is actually pretty important if you care about spirits and cocktails.
    </p>
    <p>
      So the real impact of “mixology” wasn’t just to influence the way we drink in bars, or how much we pay for cocktails, but to create a standard that hadn’t existed for a very long time in spirits and cocktail drinking culture.
      Even if you don’t want something complex, at the end of the day, the resurgence of “mixology” might just mean your neighborhood bar has a slightly better selection of gins for your Gin and Tonic.
      And while the intimidation factor may sometimes remain, and some menus (and menu prices) may not suit your tastes, many mixologists by now have put away any old timey or ultra-serious affectations (and even the term “mixologist”) in favor of a redoubled emphasis on hospitality in whatever environment suits them.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <mat-checkbox [(ngModel)]="foreverClosedWelcomeCard">Never show again!</mat-checkbox>
    <button mat-stroked-button (click)="closeWelcomeCard()">Close</button>
  </mat-card-actions>
</mat-card>
