html {
  font-size: 16px;
}

mat-divider {
  height: 40%;
}

mat-form-field {
  height: 66%;
  font-size: 10px;
  margin-right: 8px;
}

mat-icon {
  margin-right: 8px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-main-row mat-toolbar-row {
  background: rgb(255, 255, 255, 190);
}

.navbar-logo svg {
  height: 24px;
  margin-right: 8px;
}

.nav-button-row button {
  margin-left: 8px;
}

.navbar-spacer {
  flex: 1 1 auto;
}
