html {
  font-size: 16px;
}

mat-divider {
    height: 40%;
    margin-right: 8px;
}

mat-form-field {
  border: 0px;
  padding: 0 0 0 0;
  font-size: 16px;
  margin-right: 8px;
}

mat-form-field input {
  border: 0;
  padding: 0px 0px 0px 0px;
}

mat-icon {
  margin-right: 8px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-main-row mat-toolbar-row {
  background: rgb(255, 255, 255, 190);
}

.navbar-logo svg {
  height: 24px;
  margin-right: 8px;
}

.nav-button-row button {
  margin-right: 8px;
}

.navbar-spacer {
  flex: 1 1 auto;
}
